/* ============================================= */
/* === HERO === */
/* ============================================= */

.hero {
    /* Позиционирование */
    position: relative;

    /* Display & Flex */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Box model */
    min-height: 85.3vh;

    /* Фон и границы */
    background-image: url('../assets/imgs/hero-bg.webp');
    background-size: cover;
    background-position: center center;

    /* Типографика */
    text-align: center;
    color: white;
}

/* Затемнение */
.hero::before {
    content: '';

    /* Позиционирование */
    position: absolute;
    z-index: 1;

    /* Box model */
    width: 100%;
    height: 100%;

    /* Фон и границы */
    background: rgba(50, 34, 17, 0.45);
}

/* Контентная обёртка — без принудительной высоты, просто столбик */
.hero__content {
    /* Позиционирование */
    position: relative;
    z-index: 2;

    /* Box model */
    max-width: 100%;
    padding: 20px;
}

/* Заголовок */
.hero__title {
    /* Box model */
    margin-bottom: 1.5em;

    /* Типографика */
    font-family: 'INTRO', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.5;
}

/* Подзаголовок */
.hero__subtitle {
    /* Box model */
    margin-bottom: 1em;

    /* Типографика */
    font-family: 'Cedra', serif;
    font-size: 5rem;
    font-weight: 400;
}

/* Кнопка */
.hero__btn {
    /* Display & Flex */
    display: inline-block;

    /* Box model */
    padding: 33px 15px;

    /* Фон и границы */
    background-color: #201408;
    background-size: cover;             /* если будет картинка, она заполнит кнопку */
    background-position: center;
    border-radius: 50px;

    /* Типографика */
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    color: white;
    text-decoration: none;

    /* Прочее */
    transition: background 0.3s, opacity 0.3s;
    opacity: 0.8;
}

.hero__btn:hover {
    background-color: #633e19;
}