/* ============================================= */
/* === Reset & Base Styles === */
/* ============================================= */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Evolventa', system-ui, sans-serif;
    color: #593e22;
    h1, h2, h3 {
        font-weight: normal;
    }
}

/* ============================================= */
/* === Fonts === */
/* ============================================= */

@font-face {
    font-family: 'Evolventa';
    src: url('../assets/fonts/Evolventa-Regular.woff') format('woff'),
         url('../assets/fonts/Evolventa-Bold.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Intro';
    src: url('../assets/fonts/IntroDemo-BlackCAPS.woff2') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Cedra';
    src: url('../assets/fonts/Cedra4F-Wide.woff2') format('woff2'),
         url('../assets/fonts/Cedra4F-Wide.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Ablation';
    src: url('../assets/fonts/Ablation.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}