/* ============================================= /
/ === RESPONSIVE: (≤1300px) === /
/ ============================================= */
@media (max-width: 1300px) {
    .tex-page__title {
        font-size: 2.2rem;
        white-space: normal;
    }

    .card-slide {
        justify-content: center;
        gap: 2rem;
    }

    .card-slide__photo-wrap {
        width: 40%;
        max-width: 350px;
    }

    .card-slide__content {
        align-items: center;
        text-align: center;
        padding: 0 1.5rem;
        max-width: 600px;
    }

    .card-slide__text {
        text-align: center;
        max-width: 100%;
    }
    
    .card-slide__title {
        text-align: center;
    }
}
